CONNECTIONSTRINGS__DEFAULT=Host=localhost;Port=5432;Database=[DB];Username=[username];Password=[password]
JWT__ISSUER=savefile-manager
JWT__AUDIENCE=savefile-manager
JWT__SIGNINGKEY=[long-random-secret]
JWT__ACCESSTOKENMINUTES=15
JWT__REFRESHTOKENDAYS=30
